html {
    font-family: sans-serif;
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: transparent;
    height: 100%;
}

*, ::after, ::before {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #60656a;
    text-align: left;
    background-color: #323b44;
}

h1 {
    font-size: 6rem;
    font-weight: 300;
    line-height: 1.2;
    margin-top: 0;
    margin-bottom: 0.5rem;
    margin-bottom: 0.5rem
}

a {
    color: #007bff;
    color: #ccc;
    text-decoration: none;
    background-color: transparent;
    word-break: break-all;
}

.unseen a {
    font-weight: bold;
}

h3 {
    margin-top: 0;
    padding-top: 0;
    font-weight: normal;
}

.grid {
    -ms-flex-direction: column;
    flex-direction: column;
    width: 1024px;
    margin: 0 auto;
    flex: 1 0 auto;
}

.nav {
    width: 100%;
    margin: 1em 0;
}

    .nav > div {
        width: 33%;
        display: inline-block;
    }

        .nav div:first-child {
            text-align: left;
        }

    .nav .center {
        width: 32%;
        text-align: center;
    }

    .nav div:last-child {
        text-align: right;
    }

.row {
    -ms-flex-direction: row;
    flex-direction: row;
    width: 100%;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    display: -ms-flexbox;
    display: flex;
}

    .row div:first-child {
        margin: 0 10px 0 10px;
        box-sizing: border-box;
        vertical-align: top;
        width: calc(75% - 20px);
    }

    .row div:last-child {
        margin: 0 10px 0 10px;
        box-sizing: border-box;
        vertical-align: top;
        text-align: right;
        width: calc(25% - 20px);
    }

    .row > div:first-child > h3 > span {
        color: transparent;
    }

@media (max-width:1023px) {
    /* big landscape tablets, laptops, and desktops */
    body {
        overflow-x: hidden;
    }

    main {
        width: 99%;
    }

    h1 {
        font-size: 50px;
    }
}

.text-right {
    text-align: right;
}

footer {
    left: 0;
    width: 100%;
    margin-top: 2em;
    padding: 50px 0;
    text-align: center;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.readable {
    color: #949ba2;
}

img {
    max-width: 100%;
}

.text-center {
    text-align: center;
}

.readable h1 {
    font-size: 2em;
}

.t {
    color: transparent;
}
