*, ::after, ::before {
    box-sizing: border-box;
}

html {
    font-family: sans-serif;
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: transparent;
    height: 100%;
}

body {
    margin: 0;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    /*color: #60656a;*/
    color: #95a5b2;
    text-align: left;
    background-color: #323b44;
}

a {
    color: #007bff;
    color: #ccc;
    text-decoration: none;
    background-color: transparent;
    word-break: break-all;
}

h1 {
    font-size: 6rem;
    font-weight: 300;
    line-height: 1.2;
    margin-top: 0;
    margin-bottom: 0.5rem;
    margin-bottom: 0.5rem
}

h3.unseen {
    font-weight: bold;
}

h3 {
    margin-top: 0;
    padding-top: 0;
    font-weight: normal;
}

.grid {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    max-width: 1024px;
    margin: 0 auto;
}

body > footer {
    left: 0;
    width: 100%;
    margin-top: 2em;
    padding: 50px 0;
    text-align: center;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.text-right {
    text-align: right;
}

.text-center {
    text-align: center;
}

.outer {
    position: relative;
    flex-grow: 1;
}

.inner {
    margin: 0 auto;
    max-width: 1024px;
    width: 100%;
    overflow-x: hidden;
}

.post-feed {
    flex-wrap: wrap;
    position: relative;
    display: flex;
}

.post-card {
    position: relative;
    display: flex;
    flex: 1 1 301px;
    flex-direction: column;
    overflow: hidden;
    margin: 0 0 2em;
    padding: 0 2em 2em;
    /*min-height: 220px;*/
    border-bottom: 1px solid #58585a;
    background-size: cover;
    flex-grow: 1;
}

.post-card-excerpt {
    color: #80a9ba;
    word-break: break-word;
}

a.readable-link {
    color: #3eb0ef;
}
.post-card-byline-content {
    flex: 1 1 50%;
    display: flex;
    flex-direction: column;
    /*margin: 2px 0 0 6px;*/
    /*color: #92a3ab;*/
    font-size: .8rem;
    line-height: 1em;
    font-weight: 400;
    letter-spacing: .2px;
    text-transform: uppercase;
}

.post-card footer {
    left: 0;
    width: 100%;
    padding-top: 3em;
    box-sizing: border-box;
}

.post-card-title {
    color: hsla(0,0%,100%,.85);
    word-break: break-word;
    margin: 0 0 .4em;
    margin-top: 0px;
    margin-top: 0px;
    line-height: 1.15em;
    transition: color .2s ease-in-out;
}

@media (max-width:650px) {
    h1 {
        font-size: 2.2rem;
        text-align: center;
    }
    h2 {
        font-size: 1.8rem
    }
    h3 {
        font-size: 1.3rem
    }
    .post-card {
        flex-direction: row;
        flex: 1 1 100%;
    }

    .post-card-content {
        flex: 0 1 361px;
        justify-content: center
    }
    .post-card-excerpt p {
        margin-bottom: 1.5em;
        font-size: 1.8rem;
        line-height: 1.5em
    }
}

.nav {
    width: 100%;
    margin: 1em 0;
}

.nav > div {
    width: 33%;
    display: inline-block;
}

.nav div:first-child {
    text-align: left;
}

.nav .center {
    width: 32%;
    text-align: center;
}

.nav div:last-child {
    text-align: right;
}

.row {
    -ms-flex-direction: row;
    flex-direction: row;
    width: 100%;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    display: -ms-flexbox;
    display: flex;
}

.row div:first-child {
    margin: 0 10px 0 10px;
    box-sizing: border-box;
    vertical-align: top;
    width: calc(75% - 20px);
}

.row div:last-child {
    margin: 0 10px 0 10px;
    box-sizing: border-box;
    vertical-align: top;
    text-align: right;
    width: calc(25% - 20px);
}

.row > div:first-child > h3 > span {
    color: transparent;
}

.readable {
    color: #949ba2;
}

img {
    max-width: 100%;
}

.readable h1 {
    font-size: 2em;
}

.t {
    color: transparent;
}

.readable pre {
    background: #2d2d2d;
    margin: 0;
    padding: .5em 1em;
}

.readable code {
    background: #2d2d2d;
    font-size: 0.8em;
    padding: .01rem .25rem;
    border-radius: .2rem;
}

.readable table {
    width: 100%;
    max-width: 100%;
    margin-bottom: 1rem;
    background-color: transparent;
    border-collapse: collapse;
}

.readable table thead th {
    vertical-align: bottom;
    border-bottom: 2px solid #dee2e6;
}

.readable table td, table th {
    padding: .75rem;
    vertical-align: top;
    border-top: 1px solid #dee2e6;
}
