html {
    font-family: sans-serif;
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: transparent;
    height: 100%;
}

*, ::after, ::before {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    font-weight: 400;
    line-height: 1.5;
    color: #95a5b2;
    background-color: #2d3139;
}

h1 {
    font-size: 6rem;
    font-weight: 300;
    margin-top: 0;
    margin-bottom: 0.5rem;
    margin-bottom: 3rem;
}

a {
    color: #ccc;
    text-decoration: none;
}

    h3 a:visited, a:visited h3 {
        color: gray;
    }

.unseen, .unseen h3 {
    font-weight: bold;
}

h3 {
    margin-top: 0;
    font-weight: 400;
    margin-bottom: 0.75rem;
}

.grid {
    -ms-flex-direction: column;
    flex-direction: column;
    max-width: 1024px;
    margin: 0 auto;
    flex: 1 0 auto;
    display: flex;
}

nav {
    width: 100%;
    margin: 1em 0;
}

    nav > div {
        width: 33%;
        display: inline-block;
    }

    nav div:first-child {
        text-align: left;
    }

    nav .center {
        width: 32%;
        text-align: center;
    }

    nav div:last-child {
        text-align: right;
    }

.row {
    -ms-flex-direction: row;
    flex-direction: row;
    width: 100%;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    display: -ms-flexbox;
    display: flex;
}

    .row div:first-child {
        margin: 0 10px 0 10px;
        box-sizing: border-box;
        vertical-align: top;
        width: calc(75% - 20px);
    }

    .row div:last-child {
        margin: 0 10px 0 10px;
        box-sizing: border-box;
        vertical-align: top;
        text-align: right;
        width: calc(25% - 20px);
    }

    .row > div:first-child > h3 > span {
        color: transparent;
    }

.entries {
    margin: 0;
    text-align: center;
}

.text-right {
    text-align: right;
}

footer {
    text-align: center;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    padding: 1.5rem;
}

.readable {
    color: #c9cbce;
    padding: 0 .75em;
}

img {
    max-width: 100%;
}

.text-center, .center {
    text-align: center;
}

.readable h1 {
    font-size: 2em;
}

.t {
    color: transparent;
}

.readable pre {
    background: #2d2d2d;
    margin: 0;
    padding: .5em 1em;
    overflow: auto;
}

.readable code {
    background: #2d2d2d;
    font-size: 1em;
    padding: .01rem .25rem;
    border-radius: .2rem;
}

.readable table {
    width: 100%;
    max-width: 100%;
    margin-bottom: 1rem;
    background-color: transparent;
    border-collapse: collapse;
}

    .readable table thead th {
        vertical-align: bottom;
        border-bottom: 2px solid #dee2e6;
    }

    .readable table td, table th {
        padding: .75rem;
        vertical-align: top;
        border-top: 1px solid #dee2e6;
    }

.post-feed {
    flex-wrap: wrap;
    display: flex;
    margin-top: 3rem;
    padding: 0 1.5rem;
}

.post-card {
    flex: 1 1 20rem;
    padding: 1.75rem .75rem 1.75rem 0.75rem;
    border-bottom: 1px solid #e9eef1;
}

@media (max-width: 650px) {
    h1 {
        font-size: 2.2rem;
        text-align: center;
    }

    h2 {
        font-size: 1.8rem
    }

    h3 {
        font-size: 1.3rem
    }

    .post-card {
        padding: 0 0.75rem;
    }
}

.post-card-content {
    display: grid;
    grid-template-rows: 1fr auto;
    height: 100%;
}

.post-card-meta {
    padding: 0;
    text-align: left;
    margin-top: 0;
    margin-bottom: 1.25rem;
}

.post-card-byline-content {
    flex: 1 1 50%;
    display: flex;
    flex-direction: column;
    font-size: .8rem;
    text-transform: uppercase;
}

    .post-card-byline-content a {
        color: hsla(0,0%,100%,.75);
    }

    .post-card-byline-content span.sponsored {
        font-style: italic;
        text-transform: lowercase;
        margin-left: .5em;
    }

.post-card-byline-date {
    font-size: .8rem;
}

.post-card-excerpt {
    color: #80a9ba;
    word-break: break-word;
    margin-bottom: 1.5rem;
}

    .post-card-excerpt p {
        margin-bottom: 1em;
    }

.post-card-primary-tag {
    margin: 0;
    color: #3eb0ef;
    font-size: .8rem;
    font-weight: 500;
    letter-spacing: .2px;
    text-transform: uppercase;
}

a.readable-link {
    color: #3eb0ef;
}

.post-card-primary-tag a {
    color: #3eb0ef;
}

.no-image .post-card-title {
    margin-top: 0;
}

.post-card-title {
    word-break: break-word;
    transition: color .2s ease-in-out;
}

.secret {
    text-align: center;
    color: transparent;
}

    .secret a {
        color: transparent;
    }

.tag {
    border: solid 1px #7b7b7b;
    padding: .25em;
    border-radius: .25em;
    margin-left: .5em;
    margin-top: .5em;
    display: inline-block;
    font-size: .75em;
}

    .tag:first-child {
        margin-left: 0;
    }

.readable .gist {
    color: #949ba2;
}

    .readable .gist .gist-data, .readable .gist .gist-meta {
        background: #323b44;
    }

    .readable .gist .gist-file, .readable .gist .gist-data, .readable .gist .gist-meta {
        border: none;
        border-radius: 0;
    }

        .readable .gist .gist-meta, .readable .gist .gist-meta a {
            color: #949ba2;
        }

.calendar {
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    border-collapse: collapse;
}

.day {
    width: 150px;
    height: 150px;
    text-align: center;
    position: relative;
    border: solid 1px #222;
}

.date {
    float: right;
    position: absolute;
    top: .25em;
    right: .5em;
    color: rgba(255, 255, 255, .5);
}

.day a {
    display: flex;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    /*            display: table-cell;*/
    text-align: center;
    vertical-align: middle;
    justify-content: center;
    align-items: center;
    font-weight: bold;
}

.day.subdued a, .month.subdued a {
    font-weight: normal;
    opacity: .75;
}

.month {
    padding: 1em .5em;
    text-align: center;
    position: relative;
    border: solid 1px #222;
    min-width: 150px;
    min-height: 150px;
    height: 150px;
}

    .month a {
        display: flex;
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        /*            display: table-cell;*/
        text-align: center;
        vertical-align: middle;
        justify-content: center;
        align-items: center;
    }

.p-1 {
    padding: 0 1em;
}

.top-10-col {
    width: 100%;
    flex: 0 0 50%;
    max-width: 50%;
}

.top-10-col-33 {
    width: 100%;
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
}

.top-10-col-66 {
    width: 100%;
    flex: 0 0 66.666666%;
    max-width: 66.666666%;
}

.top-10-container {
    position: relative;
    padding: 20px;
    display: flex;
    flex-direction: column;
    flex: 50%;
    overflow: hidden;
}

.top-10-container-33 {
    position: relative;
    padding: 20px;
    display: flex;
    flex-direction: column;
    flex: 33%;
}

.top-10-header {
    display: flex;
    line-height: 40px;
    cursor: pointer;
}

.top-10-title {
    flex: 1 1;
    font-weight: 600;
}

.top-10-heading {
    font-weight: 600;
    text-align: center;
    width: 100px;
}

.top-10-body {
    position: relative;
    flex: 1 1;
    overflow: hidden;
}

.top-10-row {
    position: relative;
    height: 30px;
    line-height: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 5px;
    overflow: hidden;
}

.top-10-label {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    flex: 2 1;
}

.top-10-value {
    width: 50px;
    text-align: right;
    margin-right: 10px;
    font-weight: 600;
}

.top-10-percent {
    position: relative;
    width: 50px;
    color: #6e6e6e;
    padding-left: 10px;
    z-index: 1;
}

.top-10-bar {
    position: absolute;
    top: 0;
    left: 0;
    height: 30px;
    opacity: 1;
    background: #96b2b3;
    z-index: -1;
}

.top-10 {
    display: flex;
    flex-flow: row wrap;
}

h3 a:visited, a:visited h3 {
    color: gray;
}
