html {
    font-family: sans-serif;
    /*! line-height: 1.15; */
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: transparent;
    height: 100%;
}

*, ::after, ::before {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    /*! font-size: 1rem; */
    font-weight: 400;
    line-height: 1.5;
    /*color: #60656a;*/
    color: #95a5b2;
    /*! text-align: left; */
    background-color: #323b44;
}

h1 {
    font-size: 6rem;
    font-weight: 300;
    /*! line-height: 1.2; */
    margin-top: 0;
    margin-bottom: 0.5rem;
    margin-bottom: 3rem;
}

a {
    /*! color: #007bff; */
    color: #ccc;
    text-decoration: none;
    /*! background-color: transparent; */
    /*! word-break: break-all; */
}

h3.unseen {
    font-weight: bold;
}

h3 {
    margin-top: 0;
    /*! padding-top: 0; */
    font-weight: 400;
    margin-bottom: 0.75rem;
}

.grid {
    -ms-flex-direction: column;
    flex-direction: column;
    max-width: 1024px;
    margin: 0 auto;
    flex: 1 0 auto;
    /*! padding: 0 2em; */
    display: flex;
}

.nav {
    width: 100%;
    margin: 1em 0;
}

    .nav > div {
        width: 33%;
        display: inline-block;
    }

    .nav div:first-child {
        text-align: left;
    }

    .nav .center {
        width: 32%;
        text-align: center;
    }

    .nav div:last-child {
        text-align: right;
    }

.row {
    -ms-flex-direction: row;
    flex-direction: row;
    width: 100%;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    display: -ms-flexbox;
    display: flex;
}

    .row div:first-child {
        margin: 0 10px 0 10px;
        box-sizing: border-box;
        vertical-align: top;
        width: calc(75% - 20px);
    }

    .row div:last-child {
        margin: 0 10px 0 10px;
        box-sizing: border-box;
        vertical-align: top;
        text-align: right;
        width: calc(25% - 20px);
    }

    .row > div:first-child > h3 > span {
        color: transparent;
    }
/*@media (max-width:1023px) {
    body {
        overflow-x: hidden;
    }    main {
        width: 99%;
    }    h1 {
        font-size: 50px;
    }
}*/

.text-right {
    text-align: right;
}

footer {
    /*! left: 0; */
    /*! width: 100%; */
    /*! margin-top: 2em; */
    /*! padding: 50px 0; */
    text-align: center;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    /*! box-sizing: border-box; */
    padding: 1.5rem;
}

.readable {
    color: #949ba2;
    padding: 0 .75em;
}

img {
    max-width: 100%;
}

.text-center {
    text-align: center;
}

.readable h1 {
    font-size: 2em;
}

.t {
    color: transparent;
}

.readable pre {
    background: #2d2d2d;
    margin: 0;
    padding: .5em 1em;
}

.readable code {
    background: #2d2d2d;
    font-size: 0.8em;
    padding: .01rem .25rem;
    border-radius: .2rem;
}

.readable table {
    width: 100%;
    max-width: 100%;
    margin-bottom: 1rem;
    background-color: transparent;
    border-collapse: collapse;
}

    .readable table thead th {
        vertical-align: bottom;
        border-bottom: 2px solid #dee2e6;
    }

    .readable table td, table th {
        padding: .75rem;
        vertical-align: top;
        border-top: 1px solid #dee2e6;
    }

.post-feed {
    /*! padding: 40px 0 5vw; */
    /*! border-top-left-radius: 3px; */
    /*! border-top-right-radius: 3px; */
    flex-wrap: wrap;
    /*! margin: 0 -20px; */
    /*! padding: 50px 0 0; */
    /*! position: relative; */
    display: flex;
    margin-top: 3rem;
    padding: 0 1.5rem;
}

.post-card {
    /*! position: relative; */
    /*! display: flex; */
    flex: 1 1 20rem;
    /*! flex-direction: column; */
    /*! overflow: hidden; */
    /*! margin: 0 0 40px; */
    padding: 1.75rem .75rem 1.75rem 0.75rem;
    /*min-height: 15rem;*/
    border-bottom: 1px solid #e9eef1;
    /*border-bottom-color: rgb(233, 238, 241);*/
    /*! background-size: cover; */
}

@media (max-width: 650px) {
    h1 {
        font-size: 2.2rem;
        text-align: center;
    }

    h2 {
        font-size: 1.8rem
    }

    h3 {
        font-size: 1.3rem
    }
    .post-card {
        padding: 0 0.75rem;
    }
}

.post-card-content {
    /*! flex-grow: 1; */
    /*! display: flex; */
    /*! flex-direction: column; */
}

.post-feed .post-card-content-link {
    /*! padding: 0; */
}

.post-card-content-link {
    /*! position: relative; */
    /*! display: block; */
    /*! color: #15171a; */
}

.post-card-meta {
    /*! display: flex; */
    /*! align-items: flex-start; */
    padding: 0;
    text-align: left;
    margin-top: 0;
    margin-bottom: 1.25rem;
}

.post-card-byline-content {
    flex: 1 1 50%;
    display: flex;
    flex-direction: column;
    /*margin: 2px 0 0 6px;*/
    /*color: #92a3ab;*/
    font-size: .8rem;
    /*! line-height: 1em; */
    /*! font-weight: 400; */
    /*! letter-spacing: .2px; */
    text-transform: uppercase;
}

    .post-card-byline-content span {
        /*! margin: 0; */
    }

    .post-card-byline-content a {
        color: hsla(0,0%,100%,.75);
    }

.post-card-byline-date {
    font-size: .8rem;
}

.post-card-excerpt {
    /*color: #92a3ab;*/
    color: #80a9ba;
    /*! max-width: 56em; */
    /*color: #738a94;*/
    word-break: break-word;
    margin-bottom: 1.5rem;
}

    .post-card-excerpt p {
        margin-bottom: 1em;
    }

.post-card-primary-tag {
    margin: 0;
    color: #3eb0ef;
    font-size: .8rem;
    font-weight: 500;
    letter-spacing: .2px;
    text-transform: uppercase;
}

a.readable-link {
    color: #3eb0ef;
}

.post-card-primary-tag a {
    color: #3eb0ef;
}

.no-image .post-card-title {
    margin-top: 0;
}

.post-card-title {
    /*! color: hsla(0,0%,100%,.85); */
    word-break: break-word;
    /*! margin: 0 0 .4em; */
    /*! margin-top: 0px; */
    /*! line-height: 1.15em; */
    transition: color .2s ease-in-out;
}
